#clear{
  clear:both;
  display: block;
}
#img-actividad-div{
  float: left;
  width: 15%;
}

#img-actividad{
  width: 100%;
  float:left;
  display: block;
  clear: both;
}

.titulo-actividad{
  font-size: 20px;
  font-weight: bold;
}

#texto-actividad{
  float: left;
  width: 75%;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 15px;
  padding-top: 20px;
}


.img-actividad{
  float: left;
  width: 250px;
  margin-left: 30px;
}

.titulo-actividad{
  color: #00aeef;
}

#hr-actividad{
  color: #7ac143;
}

@media screen and ( max-width: 1024px ) {
  .img-actividad{
    width:80%;
    margin-left: 5%;
    display: block;
    clear: both;
  }
  
  .texto-actividad{
    width: 80%;
  }
  
  .titulo-actividad{
    margin-left: 5%;
    display: block;
    clear: both;
  }
}