#bottonCard{
  width: 90%;
    background: #d6d2d2;
    border: none;
    border-radius: 4px;
    height: 34px;
    margin-left:10%;
}
.view-id-esncard>div>div>article>div>div{
  display:inline-flex!important;
}
#textoCard>h3{
  margin-left: 10%;
    font-size: 20px;
    font-weight: 700;
    color: #636262;
}#textoCard>p{
  margin-left: 10%;
    font-size: 17px;
  
    margin-bottom: 2em;
}
.block-views-blockesncard-block-1{
  width:70%!important;
  margin:0 auto!important;
}
.block-views-blockesncard-block-1>h2{
 margin-bottom:3em;
}
#card>img{
  width:450px;
}
.block-views-blockesncard-block-1{
margin-left: 5%;
    margin-right: 5%;
}
