h1,h2,h3,h4,h5,h6{
  font-family: 'kelson';
  font-style: normal;
  font-weight: normal;
}

.field__item, #cargo-junta, #nombre-junta, #cargo-miembro, #nombre-miembro{
  font-family: 'kelson';
  font-style: normal;
  font-weight: normal;  
}