#gw-eventos-1{
  display: flex;
}

#gw-actividades{
  flex:1;
  margin-bottom:40px;
  margin-right:25px;
  width: 30%;
}

#gw-viajes, #gw-en{
  flex: 1;
  margin-right: 25px;
  width: 30%;
}

#gw-img{
  border-radius: 20%;
}

@media (max-width:480){
}
