.view-mapa>div>div>div>div>iframe{
  width:100%!important;
}
.views-field-field-ggmap>div{
  width:100%!important;
}
.site-footer .block {
  
    border: none!important;
 
}
.view-mapa>div>div>div>span>a{
  text-align: center;
  
    background: #d4007e;
    margin: 0 auto;
    display: table;
    margin: 0 auto;
  color:white;
    padding: 1em;
        text-transform: uppercase;
    font-family: kelson;
}
.views-field-field-ggmap{
  border-top: solid 5px #d4007e;
}