#block-socialmedialinks {
       margin-top: 1.5%;
    margin-left: 2%;
}
.form-item, .form-actions {
     margin-top: 3em; 

}
.login{
background-image: url(/themes/image.png);

    margin-top: -13%;
    display: inline-block;
    width: 42px;
    height: 42px;
    text-indent: -9999px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 36px;
}
.cas-login-link{
text-transform: uppercase;
    color: white;
    background: #ec008c;
    padding: 1em;
    border-radius: 15px;
    }
    
.site-footer__bottom {
    margin-top: -3em;
    letter-spacing: .2px;
    border-color: rgba(255,255,255,.15);
    border-top: none!important;
    height: 0px;

}
.field--type-image {
    float: right!important;
    margin: 0em 0em 0em 1em!important;
}
.node--type-partner-nacional>div>div>div>div>div>p>img{
      height: 100%!important;
}


#block-menudecuentadeusuario{
display: -webkit-inline-box;
 
    z-index: 0!important;
  
    margin-top: -5%;
    }
.views-field-field-horarios>div{
  width:100%!important;
  background:transparent!important;
  box-shadow: none!important;
  
}
.region-footer-fourth{
  float:right!important;
  margin: 0em 10% 0em 0em;
  
}


#show_bg_2>div>h2 {
  
    font-weight: 800;
}
.region-footer-first{
  float:left!important;
  margin: 0em 0em 0em 10%;
  
}
.block-views-blockblog-block-1>div>div>div>div>h1{
  display:none;
}
.view-partners-nacionales,.view-partners-internacionales, .view-partners-locales,.contact-message-feedback-form, #block-bartik-content{
  width:80%;
  margin:0 auto;
}
.imgPartner{
  width:60%;
}

#tituloBlog, #tituloPartner, .field--name-field-titulopagina>.field__item{
    font-size: large;
    text-align: -webkit-center;
    color: gray;
        letter-spacing: 0.3em;
    margin-bottom: 2em;
    text-transform:uppercase;

}
 .block-views-blockblog-block-1{
       margin-right: 5%;
    margin-left: 5%;33
 }
.node__links {

    display: none!important;
}
a, a.link {

    border-bottom: none!important;
}


@media screen and (min-width: 700px) and (max-width: 800px) { 
#superfish-supperfish {
   
    margin-left: -26%!important;
}
}

@media screen and (min-width: 300px) and (max-width: 800px) { 

  #block-supperfish{
  z-index: 99999;
    position: absolute;
       margin-left: 53%;
    width: 40%;
    text-align-last: center;
 
}

 #superfish-account-toggle{
   background-image: url(/themes/image.png);
float: right;
    margin-top: -13%;
    display: inline-block;
    width: 42px;
    height: 42px;
    text-indent: -9999px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 36px;
 }



#superfish-supperfish-toggle{
background-image: url(/themes/burger.png);
float: right;
    margin-top: -13%;
    display: inline-block;
    width: 42px;
    height: 42px;
    text-indent: -9999px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 36px;
}
  .blogFront>div>.field-content>img {
    width: 25%;
}
  #superfish-supperfish {
  margin-top: -2em;
    margin-left: 41%;
}
  

 
  #bottonCard {
    width: 100%;
  
    margin-left: 0%!important;
}
  #textoCard>p {
    margin-left: 0%;
  margin-top: -1em!important;
    margin-bottom: 1em!important;
}
  .view-id-esncard>div>div>article>div>div {
    display: block!important;
    text-align: -webkit-center!important;
}
.block-views-blockblog-block-1 {
    margin-right: 12%;
    margin-left: 0%; 
}
  .blogFront{

  margin-left:0%;
}
  #block-socialmedialinks{

    margin-left: 2%;
    
 }
 .block-views-blockesncard-block-1>h2{
 margin-bottom:0.5em;
}

#block-bartik-branding>a>img {
    max-width: 41%;
    height: auto;
    margin-top: 0em;
}

#block-bartik-branding>a>img {
    max-width: 49%;
    height: auto;
    margin-top: 0em;
    margin-left: -1em;
}
#block-gtranslate {
   float:unset!important;
    margin-top: -22%;
    margin-left: 43%!important;

}
#show_bg_2>div>h2 {
    font-size: 4em;
    margin-left: 1em;
    font-family: LATO;
    letter-spacing: 1px;
    margin-bottom: 0em;
    font-weight: 900;
}
#show_bg_2>div>p {
    margin-left: 4em;
        width: 76%
}
#show_bg_2>div>h3 {
    margin-left: 3.5em;
    width: 60%;
}
}

@media screen and (min-width: 300px) and (max-width: 500px) { 
  .block-system-main-block>div>div>div>div>div>div>.blogFront{
margin-left:0%!important;

}
  #admin-toolbar-search-tab{
    display:none;
  }


.region-header {
 
    margin-top: -4%!important;
}
  #block-menudecuentadeusuario{
display: -webkit-inline-box;
 
   

   margin-top: -3%!important;
    }
  .node--type-partner-nacional>div>.field--type-text-with-summary, .node--type-partner-internacional>div>.field--type-text-with-summary, .node--type-partner-locales>div>.field--type-text-with-summary{
    margin-top:-16%;
  }
  .field--type-image {
      display: contents;
          text-align-last: center;
}
    #superfish-supperfish-toggle{
    margin-left: 53%;
    width: 40%;
    margin-top: 3%!important;
    
 
}
#block-supperfish{
     margin-top: -13%!important;
}
  .js-view-dom-id-39e4b42b40ecd18c9bc603701efcbc782374bd8586e2e383720c8323c9d4e4a7>div>div>div>.blogFront {

    margin-left: 0%!important;
}
.region-footer-fourth,
.region-footer-first{
width: 75%;
    margin-left: 10%;
    float: left!important;
    text-align: center;
  
}
  #tituloBlog, #tituloPartner {
   
    letter-spacing: 0.2em;
    margin-bottom: 0.5em;
    font-size: 17px;
    margin-top: 5em;
    text-align: center;
}
  .view-partners-nacionales,.view-partners-internacionales, .view-partners-locales{
  width:80%;

}
#show_bg_2>div>p {
    margin-left: 4em;
    width: 81%;
}
.block-views-blockesncard-block-1>h2 {
    font-size: 1.2em;
    margin-bottom: -0.5em!important;
    margin: 0em;
    letter-spacing: 0.1em;
}
}
@media screen and (min-width: 2000px) and (max-width: 4000px) { 
#block-gtranslate {
    float: left;
    margin-left: -4%!important;
}
}
@media screen and (min-width: 1000px) and (max-width: 4000px) { 

#textocabecera {
    margin-top: 7em;
}
#show_bg_2>div>p {
    margin-left: 7em;
  width: 80%;
    text-align: justify;
}
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  .blogFront>.views-field-body>div>p {

    height: 125px;
  
}
  .blogFront {
    width: 29.5%!important;
    margin-left: 0%!important;
  
  
}
  .site-footer__top .region {
    width: 36%!important;
   
}
  #superfish-supperfish {
   
    margin-left: 57%;
}
#show_bg_2>div>h2 {
    font-size: 4em;


}
#textocabecera {
    margin-top: 10em;
}
#show_bg_2>div>p {
    margin-left: 6em;
  
}
#show_bg_2>div>h3 {
    margin-left: 5.5em;
 
}
}


@media screen and (min-width: 300px) and (max-width: 900px) { 
.blogFront {
    width: 100%!important;
        margin-bottom: 2em;
}
.blogFront>div>.field-content>img {
    width: 33%;
}
}
@media screen and (min-width: 500px) and (max-width: 800px){
  #superfish-supperfish-toggle{

    margin-left: 53%;
    width: 40%;
  
    margin-top: -13%!important;
 
}
  #block-gtranslate {
    margin-top: 0% !important;
   
   
}
  .region-footer-fourth,
.region-footer-first{
width:40%!important;
  
}
.block-views-blockesncard-block-1>h2 {
    font-size: 1.5em;
    margin-bottom: -0.5em!important;
    margin: 0em;
    letter-spacing: 0.1em;
}

}
