@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}
.field__label{
  display:none;
}
.numerodepartner>div>div>a>img {
    width: 91%!important;
    margin-top: -0.5em;
}
.todopartners {
  padding: 1.5em 0em 1.5em 0em;
   background: #fff url(/themes/header_topbg.png) 0 -5px repeat-x;
	
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
	height: 100px;
	margin: auto;
	overflow: hidden;
	position: relative;
width: 100%;

}



	.listapartners {
		animation: scroll 40s linear infinite;
		display: flex;
		width: calc(323px * 14);
	}

	.numerodepartner {
		height: 100px;
		width: 250px;
	}

.region-featured-bottom-first {
    width: 100%!important;
}
.featured-bottom .block {

    margin: 0em!important;
    padding: 0em!important;
}

.featured-bottom {
   
    background: transparent;
    border: none;
}
.featured-bottom .region {
    padding: 0 0px;
}
.block-views-blockchat-block-1{
margin: 0em;
    padding: 0em;
    border:none;
}
.block-views-blockchat-block-1>h2{
  display:none;
}
